/*
Breakpoints based on design (one card (media-today or media-total has the width of 255px on dsktp dsgn)
0 - 540px phone
540px - 825px phone landscape
825px - 1159px tablet 
1159px < desktop

*/
/*
$breakpoint argument choices:
-mob-land
-tablet
-desktop

*/
:root {
  --color-background: hsl(0, 0, 100%);
  --color-card-background: hsl(227, 47%, 96%);
  --color-lime-green: hsl(163, 72%, 41%);
  --color-bright-red: hsl(356, 69%, 56%);
  --color-facebook: hsl(208, 92%, 53%);
  --color-twitter: hsl(203, 89%, 53%);
  --color-insta: linear-gradient(225deg, #DF4896 0%, #EE877E 50.91%, #FDC366 100%);
  --color-youtube: hsl(348, 97%, 39%); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.main {
  padding: 3.6rem 2.4rem 4.5rem 2.5rem; }
  @media (min-width: 72.4375em) {
    .main {
      padding-right: 0;
      padding-left: 0;
      width: 111rem;
      margin: 0 auto;
      position: relative; } }

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.25;
  color: var(--color-background); }

.heading-primary {
  font-size: 2.4rem; }

.heading-secondary {
  color: #63687e; }

.heading-secondary--total {
  font-size: 1.4rem; }

.heading-secondary--today {
  font-size: 2.4rem;
  margin-bottom: 2.7rem; }
  @media (min-width: 72.4375em) {
    .heading-secondary--today {
      margin-bottom: 2.4rem; } }

.dark-mode {
  display: flex;
  align-items: center;
  margin-bottom: 4rem; }
  @media (min-width: 72.4375em) {
    .dark-mode {
      position: absolute;
      top: 3.6rem;
      right: 0;
      margin: 0; } }
  .dark-mode__text {
    font-weight: bold;
    color: #63687e;
    margin-right: auto; }
    @media (min-width: 72.4375em) {
      .dark-mode__text {
        margin-right: 1.2rem; } }
  .dark-mode__btn-container {
    position: relative;
    width: 4.8rem;
    height: 2.4rem; }
  .dark-mode__btn-toggle {
    display: block;
    width: 100%;
    height: 100%;
    background: #AEB3CB;
    border-radius: 1.2rem; }
    .dark-mode__btn-toggle:before {
      position: absolute;
      float: right;
      top: 25%;
      right: 0;
      content: "";
      height: 5%;
      width: 0%;
      border-radius: 1.2rem;
      background: linear-gradient(225deg, #40DB82 0%, #388FE7 98.02%); }
    .dark-mode__btn-toggle:after {
      position: absolute;
      top: .3rem;
      right: .4rem;
      display: inline-block;
      content: "";
      height: 1.8rem;
      width: 1.8rem;
      border-radius: 50%;
      background: #fff; }
  .dark-mode__btn-toggle:hover:before {
    top: 0;
    display: inline-block;
    content: "";
    height: 100%;
    width: 100%;
    background: linear-gradient(225deg, #40DB82 0%, #388FE7 98.02%);
    animation: fill-mode-toggle-btn .1s ease-out; }
  .dark-mode__btn-checkbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1; }

@keyframes fill-mode-toggle-btn {
  0% {
    height: 0;
    width: 0; }
  39% {
    height: 0;
    width: 0; }
  40% {
    height: 100%;
    width: 40%; }
  100% {
    height: 100%;
    width: 100%; } }

.followers {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .followers__amount {
    font-size: 5.6rem;
    letter-spacing: -.036em;
    line-height: 4.8rem;
    margin-bottom: .9rem; }
  .followers__label {
    font-size: 1.2rem;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: .4166em;
    margin-right: -.4166em;
    color: #63687e; }

.media-today {
  position: relative;
  background-color: #f0f2fa;
  height: 12.5rem;
  border-radius: 5px;
  margin-bottom: 1.6rem; }
  @media (min-width: 38.6875em) {
    .media-today {
      width: calc(50% - 1.5rem); }
      .media-today:nth-child(odd) {
        margin-right: 3rem; } }
  @media (min-width: 72.4375em) {
    .media-today {
      width: 25.5rem; }
      .media-today:not(:nth-child(4n)) {
        margin-right: 3rem; } }
  .media-today__heading {
    font-size: 1.4rem;
    color: #63687e;
    position: absolute;
    top: 2.7rem;
    left: 2.4rem; }
  .media-today__amount {
    font-size: 3.2rem;
    position: absolute;
    left: 2.4rem;
    bottom: 1.9rem; }
  .media-today .social-icon {
    position: absolute;
    top: 2.6rem;
    right: 3.1rem; }
  .media-today .trend {
    position: absolute;
    right: 3rem;
    bottom: 2.4rem; }

.media-total {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 21.6rem;
  width: 100%;
  background-color: #f0f2fa;
  border-radius: 5px;
  margin-bottom: 2.4rem; }
  @media (min-width: 38.6875em) {
    .media-total {
      width: calc(50% - 1.5rem); }
      .media-total:nth-child(odd) {
        margin-right: 3rem; } }
  @media (min-width: 72.4375em) {
    .media-total {
      width: 25.5rem;
      margin-bottom: 0; }
      .media-total:not(:last-child) {
        margin-right: 3rem; } }
  .media-total--facebook {
    border-top: 4px solid var(--color-facebook); }
  .media-total--twitter {
    border-top: 4px solid var(--color-twitter); }
  .media-total--instagram {
    position: relative; }
    .media-total--instagram:after {
      position: absolute;
      top: 0;
      content: "";
      display: inline-block;
      width: 100%;
      height: 4px;
      background-image: var(--color-insta);
      border-top-left-radius: 5px;
      border-top-right-radius: 5px; }
  .media-total--youtube {
    border-top: 4px solid var(--color-youtube); }
  .media-total__heading {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: #63687e;
    margin-bottom: 2.8rem; }
  .media-total .social-icon {
    margin-right: .8rem; }
  .media-total .followers {
    margin-bottom: 2.5rem; }

.social-icon {
  height: 2rem;
  width: 2rem; }

.trend {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold; }
  .trend--positive {
    color: var(--color-lime-green); }
  .trend--negative {
    color: var(--color-bright-red); }
  .trend__icon {
    height: 0.4rem;
    width: 0.8rem;
    margin-right: 0.4rem; }

.header {
  padding-bottom: 2.4rem;
  border-bottom: 1px solid #848BAB;
  margin-bottom: 1.6rem; }
  @media (min-width: 72.4375em) {
    .header {
      position: relative;
      padding: 0;
      border: none;
      margin-bottom: 4.6rem; } }

.total {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 4.6rem; }

@media (min-width: 38.6875em) {
  .today {
    display: flex;
    flex-wrap: wrap; }
    .today > * {
      margin-bottom: 2.4rem; } }
