.header {
  padding-bottom: 2.4rem;
  border-bottom: var(--header-border-style);
  margin-bottom: 1.6rem;

  @include respond(desktop) {
    position: relative;
    padding: 0;
    border: none;
    margin-bottom: 4.6rem;
  }
}
