.trend {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;

  &--positive {
    color: var(--color-lime-green);
  }

  &--negative {
    color: var(--color-bright-red);
  }

  &__icon {
    height: 0.4rem;
    width: 0.8rem;
    margin-right: 0.4rem;
  }
}
