*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

.main {
  padding: 3.6rem 2.4rem 4.5rem 2.5rem;

  @include respond(desktop) {
    //#px perfect :D
    padding-right: 0;
    padding-left: 0;
    width: 111rem;
    margin: 0 auto;

    position: relative;
  }
}
